<mat-divider></mat-divider>
<ng-container *ngIf="tourny$ | async as tourny">
    <mat-tab-group backgroundColor="primary" color="accent">

        <mat-tab *ngIf="!tourny.published">
            <ng-template mat-tab-label>
                Match Maker
            </ng-template>
            <div class="container">
                <app-tourny-match-maker [tourny]="tourny" [id]="id"></app-tourny-match-maker>
            </div>
        </mat-tab>

        <ng-container *ngIf="tourny.published">
            <mat-tab>
                <ng-template mat-tab-label>
                    Predictions
                </ng-template>
                <div *ngIf="matches$ | async as matches" class="matches">
                    <app-tourny-predictions *ngIf="id" [matches]="matches" [id]="id"></app-tourny-predictions>
                </div>
            </mat-tab>
            <mat-tab>
                <ng-template mat-tab-label>
                    Leaderboard
                </ng-template>
                <div class="container">
                    Leaderboard
                </div>
            </mat-tab>
        </ng-container>
        <mat-tab>
            <ng-template mat-tab-label>
                <mat-icon class="example-tab-icon">settings</mat-icon>
            </ng-template>
            <div class="container">
                <mat-accordion>
                    <mat-expansion-panel>
                        <mat-expansion-panel-header>
                            General
                        </mat-expansion-panel-header>
                        content
                    </mat-expansion-panel>
                    <mat-expansion-panel>
                        <mat-expansion-panel-header>
                            Invite players
                        </mat-expansion-panel-header>
                        content2
                    </mat-expansion-panel>
                </mat-accordion>
            </div>
        </mat-tab>
    </mat-tab-group>
</ng-container>