.container {
    padding: 1rem;
    box-sizing: border-box;
}

.not-published {
    display: grid;
    grid-template-columns: 40px 1fr;
    align-items: center;
}

.matches {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    .match {
        display: grid;
        grid-template-areas:
        'homeTeam vs awayTeam'
        'homeScore vs awayScore';
        grid-auto-columns: 1fr 30px 1fr;
        align-items: center;
        justify-items: center;
        padding-top: 1rem;
        border-bottom: 1px solid rgba(0,0,0,0.12);
        border-left: .5px solid rgba(0,0,0,0.12);
        border-right: .5px solid rgba(0,0,0,0.12);
        .home-team {
            display: grid;
            align-items: center;
            justify-items: center;
            grid-area: homeTeam;
        }

        .home-score {
            grid-area: homeScore;
        }

        .versus {
            grid-area: vs;

            div {
                width: 30px;
                height: 30px;
                background: #263238;
                color: #fff;
                border-radius: 50%;
                text-align: center;
                line-height: 30px;
            }
        }

        .away-team {
            display: grid;
            align-items: center;
            justify-items: center;
            grid-area: awayTeam;
        }

        .away-score {
            grid-area: awayScore;
        }

        h3 {
            margin: 0;
        }

        .score-field {
            width: 60px;

            input {
                text-align: center;
            }
        }
    }
}